# =========================
# Zidisha Specific
# =========================

# exclude .htaccess file used in dev environment
/.htaccess
*.htaccess

# Global variables
library/constant.php

# Log files
zidisha_contents/

# =========================
# Operating System Detritus
# =========================

# Windows Image File Caches
Thumbs.db
ehthumbs.db

# Folder Config File
Desktop.ini

# Recycle Bin on File Shares
$RECYCLE.BIN/

# Mac Folder Metadata
.DS_Store