# =========================
# Zidisha Specific
# =========================

# exclude .htaccess file used in dev environment
/.htaccess
*.htaccess

# Global variables
library/constant.php

# Smarty Cache Folders
extlibs/smarty/templates_c/
extlibs/smarty/cache/

# Log files
zidisha_contents/

# =========================
# Operating System Detritus
# =========================

# Windows Image File Caches
*Thumbs.db
*ehthumbs.db

# Folder Config File
*Desktop.ini

# Mac Folder Metadata
*.DS_Store

# =========================
# Other Version Control Systems
# =========================

#Subversion files
*.svn