AuthName "Zidisha Site"
AuthUserFile "/home4/semfundc/.htpasswds/public_html/zidisha/passwd"

# Server Errors
ErrorDocument 400 /errors/400.shtml
ErrorDocument 401 /errors/401.shtml
ErrorDocument 403 /errors/403.shtml
# ErrorDocument 404 /errors/404.shtml
ErrorDocument 404 https://www.zidisha.org
ErrorDocument 500 /errors/500.shtml

# Static File Caching Headers
<IfModule mod_expires.c>
   ExpiresActive On
   ExpiresDefault "access plus 10 days"
   ExpiresByType text/css "access plus 1 month"
   ExpiresByType text/plain "access plus 1 month"
   ExpiresByType image/gif "access plus 1 month"
   ExpiresByType image/png "access plus 1 month"
   ExpiresByType image/jpeg "access plus 1 month"
   ExpiresByType application/x-javascript "access plus 1 month"
   ExpiresByType application/javascript "access plus 1 month"
   ExpiresByType application/x-icon "access plus 1 year"
</IfModule>

# Compress Static Assets
AddOutputFilterByType DEFLATE text/css text/javascript application/javascript application/x-javascript text/html text/xml

# Force IE to NOT go into Compatability Mode
<FilesMatch "\.(htm|html|shtml|php)$" >
  Header set X-UA-Compatible "IE=Edge,chrome=1"
</FilesMatch>

# For security reasons, Options +FollowSymLinks cannot be overridden.
Options +SymLinksIfOwnerMatch


RewriteEngine On

# Force SSL and WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.zidisha\.(org|dev) [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Remove index.php
RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 

# Redirect to Appropriate Language Version
# RewriteCond %{HTTP_HOST}%{REQUEST_URI} ^https://www.zidisha.org(\/?)$
# RewriteRule (.*) https://www.zidisha.org/en/$1 [R=302,L]
# RewriteRule ^(sq|ar|am|az|bn|bu|zh|dz|fr|de|el|hi|in|it|ja|kh|ko|la|ms|mn|np|ps|pr|pt|ru|es|tl|ta|th|tr|ur|vi)/(.*)$ $2?language=$1&%{QUERY_STRING} [L]


# Redirects for individual pages
RewriteCond %{QUERY_STRING} (^|&)p=2(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=2&(.*) 
RewriteRule ^ /microfinance/lend\.html? [R=301,L]
RewriteRule microfinance/lend\.html(\/?)$ index.php?p=2&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=65(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=65&(.*) 
RewriteRule ^ /microfinance/press\.html? [R=301,L]
RewriteRule microfinance/press\.html(\/?)$ index.php?p=65&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=64(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=64&(.*) 
RewriteRule ^ /microfinance/newsletter\.html? [R=301,L]
RewriteRule microfinance/newsletter\.html(\/?)$ index.php?p=64&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=67(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=67&(.*) 
RewriteRule ^ /microfinance/intern\.html? [R=301,L]
RewriteRule microfinance/intern\.html(\/?)$ index.php?p=67&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=26(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=26&(.*) 
RewriteRule ^ /microfinance/gift-cards\.html? [R=301,L]
RewriteRule microfinance/gift-cards\.html(\/?)$ index.php?p=26&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=38(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=38&(.*) 
RewriteRule ^ /microfinance/donate\.html? [R=301,L]
RewriteRule microfinance/donate\.html(\/?)$ index.php?p=38&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=6(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=6&(.*) 
RewriteRule ^ /microfinance/contact\.html? [R=301,L]
RewriteRule microfinance/contact\.html(\/?)$ index.php?p=6&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=47(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=47&(.*) 
RewriteRule ^ /microfinance/borrow\.html? [R=301,L]
RewriteRule microfinance/borrow\.html(\/?)$ index.php?p=47&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=48(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=48&(.*) 
RewriteRule ^ /microfinance/why-zidisha\.html? [R=301,L]
RewriteRule microfinance/why-zidisha\.html(\/?)$ index.php?p=48&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=3(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=3&(.*) 
RewriteRule ^ /microfinance/how-it-works\.html? [R=301,L]
RewriteRule microfinance/how-it-works\.html(\/?)$ index.php?p=3&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=4(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=4&(.*) 
RewriteRule ^ /microfinance/faq\.html? [R=301,L]
RewriteRule microfinance/faq\.html(\/?)$ index.php?p=4&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=62(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=62&(.*) 
RewriteRule ^ /microfinance/team\.html? [R=301,L]
RewriteRule microfinance/team\.html(\/?)$ index.php?p=62&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=69(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=69&(.*) 
RewriteRule ^ /microfinance/testimonials\.html? [R=301,L]
RewriteRule microfinance/testimonials\.html(\/?)$ index.php?p=69&nr=1 [QSA]

RewriteCond %{QUERY_STRING} (^|&)p=79(&|$)
RewriteCond %{QUERY_STRING} !(^|&)nr=1($|&)
RewriteCond %{QUERY_STRING} !(.*)p=79&(.*) 
RewriteRule ^ /microfinance/microfinance\.html? [R=301,L]
RewriteRule microfinance/microfinance\.html(\/?)$ index.php?p=79&nr=1 [QSA]


RewriteRule microfinance/profile/(.*)$ index.php?p=12 [QSA]
RewriteRule microfinance/loan/(.*)$ index.php?p=14 [QSA]
RewriteRule microfinance/active-loans\.html(\/?)$ index.php?p=2&t=2&s=1&row=0&pg=1&key= [QSA]

RewriteRule completed-loans\.html(\/?)$ index.php?p=2&t=3&s=1&row=0&pg=1&key= [QSA]
RewriteRule completed-loans\.html(\/?)$ index.php?p=14&u=*&l=* [QSA]

RewriteRule user-forum\.html(\/?)$ index.php?webtag=FORUM [QSA]


# Shortcut for the weird URL parameters used
RewriteRule index-p-(.*)-u-(.*)-l-(.*)\.htm$ index.php?p=$1&u=$2&l=$3